<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Info Page Project</title>
    <h1 style="text-align: center;">Covid19 Information Page of Countries</h1>
    <br>
    <style>
        body {
          max-width: 600px;
          margin: auto;
          background-color: rgb(121, 170, 244);
        }  
    
        .submit{
            background: #f6f6f7
        }
    </style>
</head>
<body>

<a href="https://test333.auth.us-east-1.amazoncognito.com/login?response_type=token&client_id=609f5o9aiv6cnftmeub75mbm80&redirect_uri=https://MyLoadBalancer-1287100247.us-east-1.elb.amazonaws.com/login" style="font-size: x-large; text-align: center;">To Enter Covid Info Website Please Register</a>
<br>
<p class="footnote" style="font-size: large; text-align: center;"><i>This app is developed by <strong>Developer Name</strong> and deployed with Flask and Docker on AWS Resources that are EC2 Instance, ELB (Electronic Load Balance) and, Amazon Cognito.</i></p>

</body>
</html>
